* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
    background-color: #6fa3ce;
}

.container-cartao {
    width: 100%;
    height: 100%;
    border: 5px solid #6fa3ce;
    border-radius: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagem-container {
    display: flex;
    width: 100%;
}

.imagem-container .imagem {
    height: 20vh;
    border-radius: 100px;
    border: 3px solid #6fa3ce;
    margin: 20px auto;
}

.nome {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px auto 5px auto;
    font-size: 1.3em;
    font-weight: 400;
    color: #6fa3ce;
}

.cargo {
    margin-bottom: 25px;
}

.logo {
    margin: 10px auto;
    justify-self: flex-end;
}


