* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
}

.container-cartao {
    width: 500px;
    height: 800px;
    border: 5px solid #6fa3ce;
    border-radius: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem-container {
    display: flex;
    width: 100%;
}

.imagem-container .imagem {
    height: 200px;
    border-radius: 100px;
    border: 3px solid #6fa3ce;
    margin: 20px auto;
}

.container-nome {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.container-nome .nome {
    font-size: 1.3em;
    font-weight: 400;
    color: #6fa3ce;
}

.container-cargo {
    display: flex;
    justify-content: center;
}

.container-logo {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    margin-bottom: 10px;
}
